body {
  margin: 0;
  background-color: #b5f7c6;
}

div {
  background-color: #b5f7c6;
}

h1 {
  margin-top: 0;
  color: #418a6d;
}

h3 {
  color: #50ad8b;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
